@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Slabo+13px|Roboto:400,500|Roboto+Condensed);

.site-branding {
  font-family: 'Slabo 27px';
  text-align: center;
  font-weight: 300;
  padding: 30px 0 50px;
}

.site-branding h1 {
  font-weight: 100;
  font-size: 42px;
}

.site-branding a,
.site-branding a:hover {
  text-decoration: none;
}

.navbar {
  background-color: #2196f3;
  border-radius: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}

.navbar .navbar-nav > li > a {
  color: #fff;
  height: 60px;
  line-height: 30px;
  vertical-align: middle;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar #menu-primary {
  display: inline-block;
  float: none;
}

h2 {
  font-family: 'Slabo 27px';
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  color: #455a64; /* Blue Gray 700 */
}

#homepage-banner h2 {
  color: #607d8b; /* Blue Gray 600 */
}

#homepage-banner .row {
  margin: 25px 0;
}

#homepage-banner .banner-block {
  text-align: center;
  height: 50px;
  line-height: 30px;
  padding: 10px 0;
  background-color: #ff5722;
  color: #fff;
  margin: -12px;
  font-size: 18px;
  font-family: 'Slabo 13px', serif;
}

#homepage-banner .banner-green {
  background-color: #00c853; /* Green A700 */
}

#homepage-banner .banner-organge {
  background-color: #ff3d00; /* Deep Orange A400 */
}

#homepage-banner .banner-purple {
  background-color: #D500F9; /* Purple A400 */

}