/* ------ Branding ------ */
.site-branding {
  font-family: 'Slabo 27px';
  text-align: center;
  font-weight: 300;
  padding: 30px 0 50px;
}

.site-branding h1 {
  font-weight: 100;
  font-size: 42px;
}

.site-branding a,
.site-branding a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .site-branding h1 {
    font-size: 36px;
  }
}

/* ------ Navigation ------ */

.navbar {
  background-color: #2196f3; /* Blue 500 */
  border-radius: 0;
  border: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}

.navbar .navbar-nav > li > a {
  color: #fff !important;
  line-height: 30px;
  vertical-align: middle;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .dropdown-menu {
  background-color: #2196f3; /* Blue 500 */
  border: 0;
}

.navbar .dropdown-menu a {
  color: #fff;
  padding: 8px 10px;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  background-color: #1e88e5; /* Blue 600 */
}

.navbar-toggle {
  border-color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (max-width: 767px) {
  .navbar .dropdown-menu {
    background-color: #1e88e5 !important; /* Blue 600 */
  }
  .navbar .dropdown-menu a {
    text-align: center;
    padding: 12px 6px;
  }
}

@media (min-width: 768px) {
  #menu-primary {
    width: 100%;
  }
  .navbar-nav > li {
    display: inline-block;
    float: none;
  }
}

/* ------ Entry Style ------ */

h2 {
  font-family: 'Slabo 27px';
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  color: #455a64; /* Blue Gray 700 */
}

.entry-content {
  font-size: 16px;
  font-family: 'Roboto';
  color: #455a64; /* Blue Gray 700 */
}

@media (max-width: 767px) {
  .entry-content {
    font-size: 14px;
  }
}

/* ------ Homepage ------ */

#homepage-banner {
  margin-bottom: 40px;
}

#homepage-banner h2 {
  color: #607d8b; /* Blue Gray 600 */
}

#homepage-banner .row {
  margin: 20px 0;
}

#homepage-banner .banner-block {
  text-align: center;
  height: 50px;
  line-height: 30px;
  padding: 10px 0;
  background-color: #ff5722;
  color: #fff;
  border: 2px solid white;
  font-size: 18px;
  font-family: 'Slabo 13px', serif;
}

#homepage-banner .banner-yellow {
  background-color: #fcc02f;
}

#homepage-banner .banner-red {
  background-color: #94070a;
}

#homepage-banner .banner-green {
  background-color: #009587;
}

#welcome-letter .letter-content {
  padding: 28px;
  background-color: #e3f2fd; /* Blue 50 */
  line-height: 1.5em;
}

#welcome-letter h2 {
  margin: 0 0 24px;
}

#welcome-letter .emphasis {
  font-weight: 500;
  color: #bf360c; /* Deep Orange 900 */
}

#welcome-letter .signature {
  margin-bottom: 0;
  font-weight: 500;
}

#homepage-promotion .promotion-buttons {
  margin: 30px 0;
  text-align: center;
  font-size: 18px;
  font-family: 'Slabo 13px', serif;
}

#homepage-promotion .promotion-buttons .btn {
  margin: 10px 20px;
  padding: 12px 20px;
  width: 280px;
}

#homepage-promotion .btn-promotion-submit {
  background-color: #ff5722; /* Deep Orange 500 */
  color: #fff;
  border-color: #f4511e; /* Deep Orange 600 */
}

#homepage-promotion .btn-promotion-submit:hover {
  background-color: #f4511e; /* Deep Orange 600 */
}

#homepage-promotion .btn-promotion-register {
  color: #2196f3; /* Blue 500 */
  border-color: #2196f3; /* Blue 500 */
}

@media (max-width: 767px) {
  #primary, #main {
    margin: 0 -15px;
  }
}

/* ------ Footer ------- */

#colophon {
  background-color: #cfd8dc; /* Blue Gray 100 */
  padding: 20px 0;
}

#colophon p {
  margin-bottom: 0;
  text-align: center;
}

#colophon p,
#colophon p a {
  color: #546e7a; /* Blue Gray 600 */
}